button{
    background: red;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #111;
    color: #fff;
}
button:hover{
    background: #111;
    transform: scale(1);
    transition: ease-in-out is all;
    padding: 20px;
}
.btn-danger{
background: blue !important;/*it is used to change default color to custom color*/
}
div{
    background:red;
    padding:20px;
    margin:20px;
    color:#fff;
    display:inline-block;
}
 div:nth-child(2){
     background:blue;
 }   
div:nth-child(3){
    background:black;
}
div:first-child{
    background:yellow;
}
div:last-child{
    background:gray;
}
div{
    border: 1px solid #111;
    text-align: center;
    color: #fff
}
.col-mid-1{
    background: red;
    border:1px solid #111;
}